.app {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.full-page {
  height: 100vh;
}

@media only screen and (max-width: 480px) {
  .app {
    flex-direction: column;
  }

  .pane {
    max-height: 50vh;
    overflow: scroll
  }
}

.title {
  padding: 0px 10px;
}

.pane {
  min-height: 200px;
  min-width: 250px;

  display: flex;
  flex: 1;
  margin: 10px;
}

.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: transparent;
}


.action {
  align-self: flex-start;
}

.playlist-container {
  display: block;
}

.card {
  padding: 10px;
}

.playlist {
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.playlist img {
  height: 80px;
  background-size: cover;
}

.playlist-info {
  flex-grow: 1;
}

.user-playlist-drop {
  border-width: 2px;
  border-color: grey;
  border-style: dotted;
  min-height: 250px;
  padding: 10px;
}